
<nav class="navbar fixed-top navbar-toggleable-md navbar-inverse" style="background-color: #0285a1"; id=" mainNav">

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
  <div class="container">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
        <%= link_to 'Home', root_path, class: "nav-link active"%>

        </li>
        <li class="nav-item">
          <%= link_to 'Education', personal_websites_education_path, class: "nav-link active"%>

        </li>

        <li class="nav-item">
          <%= link_to 'Work & Skills', personal_websites_experience_path, class: "nav-link active"%>

        </li>

        <li class="nav-item">
          <%= link_to 'Blog', personal_websites_blog_path, class: "nav-link active"%>

        </li>

        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link active"%>

        </li>
        <li class="nav-item">
          <%= link_to 'Resume', personal_websites_download_resume_path, class: 'btn btn-outline mb1 blue' %>

       </li>

      </ul>
    </div>
  </div>
</nav>


<div class="home">
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">Welcome To my Page!</div>
            <div class="intro-heading">It's Nice To Meet You</div>
            <%= link_to 'Learn more', personal_websites_experience_path, class: "btn btn-xl"%>
        </div>
    </div>
</div>
