<div class="pattern-overlay">
	<div class="container">

		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">

				<section class="jumbotron text-center">
						<h4 class="jumbotron-heading">About me</h4>
						<p > Hello, I'm <strong>Shiva Bhattarai</strong>, a developer. Besides development, i watch movies, listen music, listen and read novels and travel if i'm able to manage my time(i manage it anyway).
						</p>
				</section>

			</div>
		</div>
		<hr>

		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">
				<h4 class="jumbotron-heading">My contact Info</h4>

				<div class="row">
					<div class="col-md-7">
						<div class="map-container">
							<div class="map">
								<iframe
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1906.8526778126957!2d23.84811115149089!3d61.44972538236419!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x468edfb0bcd25e53%3A0x7cb518d41c1ea947!2sInsin%C3%B6%C3%B6rinkatu%2C+33720+Tampere!5e0!3m2!1sen!2sfi!4v1479347516458"
									width="400"
									height="300"
									frameborder="0"
									style="border:0"
									allowfullscreen></iframe>
							</div>
							<i class="map-top"></i>
							<i class="map-right"></i>
							<i class="map-bottom"></i>
							<i class="map-left"></i>
						</div>
					</div>

					<div class="col-md-5">
						<ul>
							<li>
								<i class="fa fa-home fontawsomeicon" aria-hidden="true"></i>
								Current address: Insinoorinkatu 60 A 49, Tampere 33720, Finland</li>
							<li>
								<i class="fa fa-home fontawsomeicon" aria-hidden="true"></i>
								Home: Plotline, 3-Number, Manigram, Tilottama-9, Butwal, Nepal</li>
							<li>
								<i class="fa fa-mobile fontawsomeicon" aria-hidden="true"></i>
								+358-484976871</li>
							<li>
								<i class="fa fa-envelope fontawsomeicon" aria-hidden="true"></i>
								bhattaraishiva17@gmail.com</li>
							<li>
								<i class="fa fa-download fontawsomeicon" aria-hidden="true">
								<%= link_to 'Download My Resume', personal_websites_download_resume_path, class: 'company_links' %>
							</i>
							</li>
						</ul>

					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-lg-12 col-lg-offset-2">
				<h4 class="jumbotron-heading">Message me</h4>

				<div class="about_form">

				<%= form_for(@about, url: about_path, html: {method: :post, role: 'form'}) do |f| %>
					<div class="form-group">
						<%= f.label :name %>
						<%= f.text_field :name, class: 'form-control', placeholder: 'Name', required: true%>
					</div>
					<div class="form-group">
						<%= f.label :email %>
						<%= f.email_field :email, class: 'form-control', placeholder: 'Email', required: true%>
					</div>
					<div class="form-group">
						<%= f.label :Phone %>
						<%= f.text_field :phone, class: 'form-control', placeholder: 'Phone'%>
					</div>
					<div class="form-group">
						<%= f.label :message %>
						<%= f.text_area :message, class: 'form-control', placeholder: 'Message', required: true%>
					</div>
					<%= f.submit 'Send us', class: "button btn btn-outline-primary my-2 my-sm-0" %>
				<% end %>
			</div>
			</div>
		</div>

		<hr>

	</div>
</div>
