<div class="container">
  <div class="row">
  <div class="navbar navbar-default navbar-fixed-top">
    <%= link_to 'PersonalBlog', root_path, class: "navbar-brand"%>
    <div class=" menu navbar-collapse collapse navbar-responsive-collapse">
      <ul class="navmenu">
        <li><a href="<%= root_path %>"><i class="fa fa-home" aria-hidden="true"></i><span>Home</span></a></li>
         <li><a href="<%= personal_websites_skill_path %>"><span>Skills</span></a></li>
         <li><a href="<%= personal_websites_experience_path %>"><span>Work & Experience</span></a></li>
         <li><a href="<%= personal_websites_education_path %>"><span>Education</span></a></li>
         <li><a href="<%= personal_websites_about_path %>"><span>About</span></a></li>
      </ul>
    </div>
    </div>
  </div>
</div>
