<div class="masthead clearfix">
  <div class="inner">
    <%= link_to 'Shiva', root_path, class: "h3 masthead-brand"%>

    <nav class="nav nav-masthead">
			<%= link_to 'Home', root_path, class: "nav-link active"%>
			<%= link_to 'Education', personal_websites_education_path, class: "nav-link active"%>
			<%= link_to 'Work & Experience', personal_websites_experience_path, class: "nav-link active"%>
			<%= link_to 'Skills', personal_websites_skill_path, class: "nav-link active"%>
			<%= link_to 'About', personal_websites_about_path, class: "nav-link active"%>
    </nav>
  </div>
</div>
