<div class="masthead clearfix">
  <div class="inner">
    <%= link_to 'Shiva', root_path, class: "h3 masthead-brand"%>

    <nav class="nav nav-masthead">
			<%= link_to 'Home', root_path, class: "nav-link active"%>
			<%= link_to 'Education', personal_websites_education_path, class: "nav-link active"%>
			<%= link_to 'Work & Skills', personal_websites_experience_path, class: "nav-link active"%>
			<%= link_to 'About', about_path, class: "nav-link active"%>
    </nav>
  </div>
</div>
